
.HomePage {
  text-align: center;
  position: relative;
}

.backgroundImg {
  width:100%;
  /* You can add additional styles for vertical centering if needed */
  height: auto; /* Maintain aspect ratio */
}
.userFormOverlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the UserForm appears above the image */
}